<header>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Zilla+Slab:300" rel="stylesheet">
 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
 
 <link href="https://getbootstrap.com/docs/4.4/examples/blog/" rel="stylesheet">

  <link href="https://getbootstrap.com/docs/4.4/examples/carousel/" rel="stylesheet">
</header>
 
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#"></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        
        <a class="btn btn-sm btn-outline-secondary" class="p-4 mb-3 bg-light rounded" href="https://melanin-mogul-logout-april.stackblitz.io/">Log Out</a>
      </div>
    </div>
  </header>

 <nav class="navbar">
  <h1>
    Melanin Mogul 
 
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " href="https://melanin-mogul-blog-april.stackblitz.io">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://melanin-mogul-about-april.stackblitz.io">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://melaninmogul-diary-april.stackblitz.io">Diary
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://melanin-mogul-advice-april.stackblitz.io">Advice
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://melanin-mogul-contact-april.stackblitz.io">Contact Us</a>
      </li>
    </ul>
  </h1>
</nav>

<main role="main" class="container">
  <div class="row" style="text-align: center">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4  border-bottom" style="font-family: 'Karla', sans-serif">
        Picks of the Month
      </h3>

      <div class="blog-post" >
         <div class="col-lg-4">
        <div class = "pictures">
         <img src="https://k5u33w.by.files.1drv.com/y4mRpvVbPwROsudgeL3btT0hm2IoSC65iYRvAfhmBIGqrjGduBiYWHLij7c3Su9D-6XVUXMkG32d-D0lvLEd47neQQIcb4oDlzyJLyn9Y24212yU7LLNu_tQ8B8nmBqMuiG6iorRdJSyoAMCoB6lmKWNgFIppY7BcCFhkSHhox5L3Cq7gyZ44bar_O-DekNp1-FXr0DwXFnYnM-MU9Q0DENiA?width=677&height=745&cropmode=none" width="200" height="200" />
          </div>

         <br>

        <p>‘She Did That.’ is an uplifting documentary that explores the passionate pursuits of Black women and their entrepreneurship journeys. Executive produced by Renae Bluitt, ‘She Did That.’ offers an intimate peek inside the truths, trials, and triumphs of beloved entrepreneurs who continuously raise the glass ceiling for future generations.</p>
        <p><b class="btn btn-secondary" href="https://shedidthatfilm.com/" role="button"> WATCH </b></p>
      </div>
      </div>

      <div class="blog-post">
        <div class="col-lg-4">
       <div class = "pictures">
          <img src="https://k5u23w.by.files.1drv.com/y4mvlGGGwVXDgkaOjufgrST2lqTV5dKDOEd7Aybzm2hNXQ9zfHsMrjojUW4Syor14UNSkPGQ1DmyBYUMASGNQgaoFOZ9KFuy8mtAzsMbKADcssLigqyX1rtdeviEzjEPd-O-6wWi4Ujs8T7evZf2bJogKK026j2ThoyKwwfIkppSv5-_hsQr3Hyx62aSrdFca0AAGgeZW_lvMdPDJjkjCQoyw?width=500&height=500&cropmode=none" width="200" height="200" />
          </div>
        
         <br>
       
        <p>Welteroth moves beyond the headlines and highlight reels to share the profound lessons and struggles of being a barrier-breaker across so many intersections. As a young boss and often the only Black woman in the room, she’s had enough of the world telling her—and all women—they’re not enough. As she learns to rely on herself by looking both inward and upward, we’re ultimately reminded that we’re more than enough.</p>
        <p><b class="btn btn-secondary" href="https://www.elainewelteroth.com/" role="button"> READ </b></p>
      </div>
      </div>

      <div class="blog-post">
        <div class="col-lg-4">
        <div class = "pictures">
         <img src="https://kpuu3w.by.files.1drv.com/y4mzn2uBaNyAOe4bg6ipBlcbYN6PKTSttdMZf91Awxa6P2Azm8jww3NXPfnF1vtee9Plf1kLARqAl0gvcfLVVX4oK1w5OvVerqvbEvFePJT5BPea10BKdLYw1Nv8JCNZCha3r9zws8SfbTzOZ6wCD4CU1fHx0_NpE770rxOhsm0dw2vXF6uN7Ih2ketahORcUewwKCyJTIx0E0G3ItOw2rffw?width=500&height=500&cropmode=none" width="200" height="200" />
          </div>

        <br>

        <p >The creators, Scottie Beam, Gia Peppers, Sapphira, Bex, and Alysha P, decided to make their hilarious conversations about life issues, sisterhood, pop culture, love, growth, and the pursuit of their dreams available to the public. Listen every week as their differing opinions and life experiences lead them to understand themselves, and the world around them, a little bit better. Hopefully, you'll laugh, argue, and learn something about yourselves, too.</p>
        <p><b class="btn btn-secondary" href="https://www.stitcher.com/podcast/black-girl-podcast" role="button"> LISTEN </b></p>
      </div>
      </div>
    </div>

<aside class="col-md-4 blog-sidebar">
     <div class="p-4 mb-3 bg-light rounded">
        <div class="p-4">
        <h4  style="font-family: 'Karla', sans-serif">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">January 2020</a></li>
          <li><a href="#">February 2020</a></li>
          <li><a href="#">March 2020</a></li>
          
        </ol>
      </div>
      </div>
    </aside>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><em> INSPIRE </em><span class="text-muted"></span></h2>
        <p class="lead">"Instead of letting your hardships and failures discourage or exhaust you, let them inspire you. Let them make you even hungrier to succeed," </p><footer style="color: Black" class="blockquote-footer text-right">Michelle Obama</footer>
      </div>
      <div class="col-md-5">
        <img src="https://kput3w.by.files.1drv.com/y4mLtx7GU2H7ccaS-r_irfGFNRJAPWMZ3V0bgfbAdxamKlH4rdzOGaxlw_g3zqfbFJsMNODr1wtnlx36bThxRoP-V-vBWsgky1pFKN2wamHhrLj1oloo38GRH090G6dJUxH5b1xEGXTQuOijaWAu5cr3JlMgsIEJgQx6Jv6eew1twy2Zl2wtTtb7gZLmqBuPSZWYmQ13CYmDRWq488iBNXu5w?width=1920&height=1080&cropmode=none" width="400" height="400" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><em> CREATE </em><span class="text-muted"></span></h2>
        <p class="lead">“I'm not going to continue knocking that old door that doesn't open for me. I'm going to create my own door and walk through that.”</p><footer style="color: Black" class="blockquote-footer text-right">Ava Duvernay</footer>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://kpus3w.by.files.1drv.com/y4mq7i5Aofu1YEerHTiA5pQXxETWJGnyRDWxeqZyhdhSD34qCYtWsQLskLr1lnjwia1hz1SXXufiMmp3WqjYiUGMXanqQgjfvXs3Z_XJrWy63MaNnXyvEv-k5_DzAx73ffT1DPluYKgeVAwGYJ0YTgCexhSKmkVuzAF3zurCmSfq93te2GJVwAMT3UuGEvhDyOj0p8VUEMtfwrV_mf6P0wwyA?width=900&height=600&cropmode=none" width="400" height="400" />
      </div>
    </div>

    <hr class="featurette-divider">
  </div>

<div>
<footer class="navbarfooter">
    <div class="navbar-text">
      Melanin Mogul ♛ 
    </div>
  </footer>
</div>